body {
	background-image: linear-gradient(to bottom right, white, gray);
}

#input-output {
	display: flex;
	border: 1;
}

.plotly-area {
	flex: 50%;
	width: 400px;
	height: 400px;
}

#input-eq{
	margin: auto;
}

#submit-wrap {
	display: flex;
}

.form-wrap {
	flex: 50%;
}

#warning {
	margin: auto;
}